# Database Configuration
DATABASE_URL="postgresql://lakshya:Lv%408439046975@localhost:5432/shopify_insights"

# Server Configuration
PORT=3000
HOST_URL="http://localhost:3000"
HOST="http://localhost:3000"

# Shopify Configuration
SHOPIFY_API_KEY="yae3014891b5414ea3f2c79c55c66aa76"
SHOPIFY_API_SECRET="69506bfd73f5516be45d40da58993f71"

# JWT Configuration
JWT_SECRET="d9b77973df0de24730e575f6c9fe7f3ff4afebdeec8e8540ae62b5ce4c67def2"

# Email Configuration (for password reset)
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USER="your_email@gmail.com"
EMAIL_PASS="your_app_password"
